---
interface Props {
  activeView?: 'lista' | 'tarjetas';
}
const { activeView = 'lista' } = Astro.props as Props;
---
<div class="flex flex-col sm:flex-row justify-between sm:items-center mb-8">
  <h1 class="text-3xl md:text-4xl font-extrabold text-white mb-4 sm:mb-0">Nuestros Boxeadores</h1>
  <div class="flex space-x-2">
    <button id="btn-vista-lista" class={`font-semibold py-2 px-4 rounded-lg flex items-center space-x-2 ${activeView === 'lista' ? 'bg-blue-600 text-white' : 'bg-gray-700 text-gray-300 hover:bg-gray-600'}`}>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"/></svg>
      <span>Lista</span>
    </button>
    <button id="btn-vista-tarjetas" class={`font-semibold py-2 px-4 rounded-lg flex items-center space-x-2 ${activeView === 'tarjetas' ? 'bg-blue-600 text-white' : 'bg-gray-700 text-gray-300 hover:bg-gray-600'}`}>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"/></svg>
      <span>Tarjetas</span>
    </button>
  </div>
</div>
